{% extends 'main.html' %} {% load static %}
{%block title %} Formations - ITSS {%endblock%}
{%block content %}

<main id="main">

    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Formations</h2>
            <ol>
              <li><a href="/">Accueil</a></li>
              <li>Nos formations</li>
            </ol>
          </div>

      </div>
    </section><!-- End Our Portfolio Section -->

    <section class="services">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
              <div class="icon-box icon-box-blue">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="">Microsoft office 2019</a></h4>
                <p class="description">Offrez vous une formation pratique et certifié en Microsoft office 2019 avec les logiciels Word, Powerpoint, Excel...</p>
                <div class="mt-2">
                    <button type="submit" class="btn btn-success">S'inscrire</button>
                </i></div>
              </div>
            </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
              <div class="icon-box icon-box-blue">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="">RED HAT LINUX 7</a></h4>
                <p class="description">Maitriser les bases de système RED HAT et soyez capable d'effectuer n'importe quelle tâche d'administration système...</p>
                <div class="mt-2">
                    <button type="submit" class="btn btn-success">S'inscrire</button>
                </i></div>
              </div>
            </div>
            
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
              <div class="icon-box icon-box-blue">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="">Oracle 19c</a></h4>
                <p class="description">Apprennez à administrer un système de gestion de base de données oracle de A à Z.</p>
                <div class="mt-2">
                    <button type="submit" class="btn btn-success">S'inscrire</button>
                </i></div>
              </div>
            </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
              <div class="icon-box icon-box-blue">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="">Sécurité et Réseaux</a></h4>
                <p class="description">Offrez vous un formation vous permettant de passer des certifications telles que: CEH, CND, Fortigate NSE4, Cisco SECURITY FMC,...
                </p>
                <div class="mt-2">
                    <button type="submit" class="btn btn-success">S'inscrire</button>
                </i></div>
              </div>
            </div>

        </div>

      </div>
    </section>

  </main><!-- End #main -->


{%endblock%}