{% extends 'main.html' %} {% load static %}
{%block title %} Services {%endblock%}
{%block content %}

<main id="main">

        <!-- ======= Our Services Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <ol>
                        <li><a href="index.html">Accueil</a></li>
                        <li>Nos Services</li>
                    </ol>
                </div>

            </div>
        </section>
        <!-- End Our Services Section -->

        <!-- ======= Services Section ======= -->
        <section class="features">
            <div class="container">
    
                <div class="row" data-aos="fade-up">
                    <div class="col-md-5">
                        <img src="{% static 'assets/img/itss/slide-developpement.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-4">
                        <h3>ITSS fait du développement de logiciel informatique</h3>
                        <p class="font-italic">
                            ITSS dispose d'une équipe de développeurs informatique qualifiée et efficace. Nous sommes disposés à mettre en place:
                        </p>
                        <ul>
                            <li><i class="icofont-check"></i> des systèmes de gestion d'entreprise (banque, boutique, restaurant, etc)</li>
                            <li><i class="icofont-check"></i> des systèmes de gestion d'écoles et universités</li>
                            <li><i class="icofont-check"></i> des blogs et autres</li>
                        </ul>
                    </div>
                </div>
    
                <div class="row" data-aos="fade-up">
                    <div class="col-md-5 order-1 order-md-2">
                        <img src="{% static 'assets/img/itss/slide-graphisme.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5 order-2 order-md-1">
                        <h3>ITSS, l'expert en graphisme et en commnication graphique</h3>
                        <p class="font-italic">
                            Grâce à son expérience dans le monde du visuel, et surtout, sa talentieuse équipe de concepteur graphique, ITSS est un grand artiste.
                        </p>
                        <p>
                            Nous mettons à votre dispositions notre services graphiques pour toutes vos conceptions graphique (logo, affiche, cartoon), montage vidéos.
                        </p>
                    </div>
                </div>
    
                <div class="row" data-aos="fade-up">
                    <div class="col-md-5">
                        <img src="{% static 'assets/img/itss/slide-cours.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5">
                        <h3>ITSS, un consulant informatique, un grand formateur</h3>
                        <p>ITSS, bien qu'offrant des services de consulant informatique, mets à la disposition de tous des formations en informatiqes</p>
                        <ul>
                            <li><i class="icofont-check"></i> Des formations de maitrise de l'outil informatique.</li>
                            <li><i class="icofont-check"></i> Des formations de Génie logiciel, réseau, Intelligence Artificielle, ... </li>
                            <li><i class="icofont-check"></i> Des formations de graphisme</li>
                        </ul>
                    </div>
                </div>
    
                <div class="row" data-aos="fade-up">
                    <div class="col-md-5 order-1 order-md-2">
                        <img src="{% static 'assets/img/itss/slide-rh.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5 order-2 order-md-1">
                        <h3>ITSS, un gestionnaire de ressources humaines.</h3>
                        <p class="font-italic">
                            Le rendement d’une société dépend de la qualité de son personnel.
                        </p>
                        <p>
                            Notre service de gestion des ressources humaines vous dégage de toutes les responsabilités liées au recrutement d’agent, la gestion des carrières, l’organisation des divers contrats, les déclarations, le suivi et la formation du personnel, les contentieux.
                            Nos experts en gestion des ressources humaines prendront en charge la totalité du management de votre personnel, en vue de vous permettre de vous concentrer sur le rendement et la productivité de votre entreprise.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Services Section -->

</main>


{%endblock%}